<body>       
        <div class="demo-frame">
            <div class="demo-container">
                <video id="video" width="320" height="240" preload autoplay loop muted></video>
                <canvas id="canvas" width="320" height="240"></canvas>
            </div>
            <input type=button value="Take Snapshot" onClick="take_snapshot()">
            <div id="results">
                
            </div>
        </div>
        
        <script>
            var faceCoords = null;
            window.onload = function() {
                // var video = document.getElementById('video');
                var canvas = document.getElementById('canvas');
                var context = canvas.getContext('2d');
                var tracker = new tracking.ObjectTracker('face');
                tracker.setInitialScale(4);
                tracker.setStepSize(2);
                tracker.setEdgesDensity(0.1);
                tracking.track('#video', tracker, { camera: true });
                tracker.on('track', function(event) {
                    if(event.data.length == 0) {
                        faceCoords = null;
                    }
                    context.clearRect(0, 0, canvas.width, canvas.height);
                    event.data.forEach(function(rect) {
                        context.strokeStyle = '#a64ceb';
                        context.strokeRect(rect.x, rect.y, rect.width, rect.height);
                        context.font = '11px Helvetica';
                        context.fillStyle = "#fff";
                        faceCoords = rect;
                        // console.log(rect);
                        // context.fillText('x: ' + rect.x + 'px', rect.x + rect.width + 5, rect.y + 11);
                        // context.fillText('y: ' + rect.y + 'px', rect.x + rect.width + 5, rect.y + 22);
                    });
                });
                // var gui = new dat.GUI();
                // gui.add(tracker, 'edgesDensity', 0.1, 0.5).step(0.01);
                // gui.add(tracker, 'initialScale', 1.0, 10.0).step(0.1);
                // gui.add(tracker, 'stepSize', 1, 5).step(0.1);
                Webcam.attach('#video');
            };
            // var shutter = new Audio();
            // shutter.autoplay = false;
            // shutter.src = navigator.userAgent.match(/Firefox/) ? 'shutter.ogg' : 'shutter.mp3';
            // Webcam.dispatch();
            // // Webcam.snap();
            Webcam.flashNotify("cameraLive");
            function take_snapshot() {
                // play sound effect
                // shutter.play();
                // take snapshot and get image data
                console.log(faceCoords);
                if(faceCoords == null) {
                    return alert("No face found for profile pic!!");
                }
                Webcam.snap( function(data_uri) {
                    // display results in page
                    document.getElementById('results').innerHTML = 
                    '<img id="imageprev" src="'+data_uri+'"/>';
                    faceCoords = null;
                } );
                saveSnap();
                // Webcam.reset();
            }
            function saveSnap(){
                // Get base64 value from <img id='imageprev'> source
                var base64image = document.getElementById("imageprev").src;
                console.log("Image base64: "+base64image);
                // Webcam.upload( base64image, 'upload.php', function(code, text) {
                    //     console.log('Save successfully');
                    //     //console.log(text);
                    // });
                    
                }
            </script>
            
        </body>